 /* DropDown Link 밑줄 제거 */
.dropdown-menu > a, td > a {
  text-decoration: none;
  color: black;
}
.App {
  text-align: center;
  top:120px;
}

.nav-items {
  list-style: none;
  margin: 0px auto;
  /* 배율 조정에 따른 크기 조절 */
  transform-origin: top left; /* 변환 기준점을 좌상단으로 설정 */
  transform: scale(1); /* 초기 배율 */
  transition: transform 0.3s ease-in-out; /* 부드러운 변환 애니메이션 적용 */
}

.nav-items-1 {
  width:17.3%;
  height:80px;
  float:left;
  list-style: none;
  margin: 0px auto;
  padding-left: 0;
}
.nav-items2 {
  width:64%;
  /* float:inherit; */
  display:inline-block;
  list-style: none;
  text-align: left;
  margin: 0px;
}
.nav-items3 {
  width:18%;
  float:right;
  /* display:inline-block; */
  list-style: none;
  margin: 0px auto;
}
.nav-item {
  display: inline-block;
  height: 80px;
  padding: 0 10px;
  /* text-align: center; */
  min-width: 80px;
  margin: 0 10px;
  line-height: 80px;
}
.nav-item-dropdown{
  display: inline-block;
  /* height: 80px; */
  padding: 0 10px;
  /* text-align: center; */
  min-width: 80px;
  margin: 0 10px;
  line-height: 80px;
}

.nav-item > a {
  /* font-size: x-small; */
  font-size: x-large !important;
  text-decoration: none;
  /* color: darkgray; */
  color: black;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 80px;
  margin-right: 10px;
}

.logo-text {
  font-size: 16px;
}

.footer-items-0 {
  list-style: none;
  /* margin: 0px auto; */
  width:19%;
  height:250px !important;
  float: left;
  padding:0;
}
.footer-items-1 {
  list-style: none;
  margin: 0px auto;
  width:55%;
  height:250px !important;
  float: left;
  padding:0;
}
.footer-items-2 {
  list-style: none;
  margin: 0px auto;
  width:23%;
  height:220px !important;
  float: right;
  padding:0;
}
.footer-item {
  display: inline-block;
  height: 250px;
  padding: 0 10px;
  /* text-align: center; */
  min-width: 220px;
  margin: 0 10px;
  line-height: 30px;
}
.footer-item > a {
  font-size: x-small;
  text-decoration: none;
  color: darkgray;
}

#logo {
  font-size: large;
  color: black;
  margin-right: 100px;
}

.main {
  top: 100px;
  width: 100%;
  height: 100%;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */