* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
  font-family: 'KOTRAHOPE';
  /* font-weight: bolder; */
} 

.card-body, 
.card-body>*, 
.toastui-editor-contents p, /* 토스트 에디터 */
th, td, 
td>select,
td>button>span,
td > a
{
  font-family: 'Pretendard-Regular';
  font-size:13px;
}

td > a
{
  /* text-align: right; */
}

/* Toast Viewr Content FontSize */
.toastui-editor-contents p {
  font-size: 15px;
}

/* ToolTip 너비, 배경색 */
.tooltip-inner {
  max-width: 100% !important; 
  background-color: #6C757D !important;
}

/* ToolTip 배경 화살표 색 */
.tooltip-arrow::before {
  border-bottom-color: #6C757D !important;
}

/* Start https://www.cursors-4u.com */ 
* {
  cursor: url(https://cur.cursors-4u.net/toons/too-5/too466.cur),
  /* cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat861.cur), */
   auto !important;} 
/* End https://www.cursors-4u.com */

